body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

header {
    padding: 16px 0 0 16px;
    box-sizing: border-box;

    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    gap: 20px;
    padding: 16px;
    margin: 0 auto;
}

.img-container {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    padding: 0 0 16px 16px;
    box-sizing: border-box;

    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 576px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }
}

@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .wider {
        grid-column: span 2;
    }

    .widerer {
        grid-column: span 3;
    }
}

@media (min-width: 992px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 1200px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (min-width: 1400px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}